{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Online Library</title>
   <link rel="stylesheet" href="{% static 'library_app/style.css' %}">

</head>
<body>

<div class="navbar">
    <div><strong>LIBRARIA</strong></div>
    <div>
        <a href="/">Home</a>
        <a href="#">Books & Media</a>
        <a href="#">News & Events</a>
        <a href="#">Blog</a>
      {% if user.is_authenticated %}
    <form method="post" action="{% url 'logout' %}" style="display:inline;">
        {% csrf_token %}
        <button type="submit" class="logout-btn">Logout</button>
    </form>
{% else %}
    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'register' %}">Register</a>
{% endif %}

    </div>
</div>

{% block content %}{% endblock %}

</body>
</html>
