{% extends 'library_app/base.html' %}
{% block content %}

<section class="hero">
    <div class="hero-content">
        <h1>WHAT’S ALL THE LIBRARIA?</h1>
        <p>Access Books, eBooks, Music, Movies and more.</p>

        <form method="get" class="search-bar">
            <input type="text" name="q" placeholder="Search by keyword" value="{{ query }}">
            <select name="category">
                <option value="">All Categories</option>
                <option value="Books">Books</option>
                <option value="Ebooks">Ebooks</option>
                <option value="Audio">Audio</option>
            </select>
            <button type="submit">SEARCH</button>
        </form>
    </div>
</section>

<h2>All Books</h2>

{% if query %}
  <p>Search results for "<b>{{ query }}</b>"</p>
{% endif %}

<div class="book-grid">
{% for book in books %}
  <div class="book-card">
      <h3>{{ book.title }}</h3>
      <p>{{ book.author }}</p>

      {% if book.cover %}
        <img src="{{ book.cover.url }}" width="120">
      {% endif %}

      <a href="{% url 'book_detail' book.id %}">
        View Details
      </a>
  </div>
{% empty %}
  <p>No matching books found.</p>
{% endfor %}
</div>

{% endblock %}